{% extends "base.html" %}

{% block content %}


<div class="container">
  <br><br><br><br>
  
  {% include "partials/messages.html" %}
  <form action="{% url "preferences" %}" method="POST">
    <h5>Branch:</h5>
    {% csrf_token %}
    <div class="input-group">
      
        <select name="chosen_branch" class="custom-select" id="inputGroupSelect04">
          {% if user_preference.branch %}
          <option name="chosen_branch" value="{{user_preference.branch}}" selected>{{user_preference.branch}}</option>
          {% endif %}
          
          {% for branch in branchs %}
          <option name="chosen_branch" value="{{branch.branch}} - {{branch.short}}">{{branch.branch}} - {{branch.short}}</option>
          {% endfor %}
          
        </select>
        <div class="input-group-append">
          <input class="btn btn-outline-secondary" type="submit" value="Save"/>
        </div>
    </div>

  </form>

</div>

{% endblock content %}