body {
    background-color: #eeeded;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-buttons {
    text-align: center;
}

.login-button {
    display: inline-block;
    transition: transform 0.2s;
    text-align: center;
}

.login-button p {
    margin: 10px 0;
}

.login-button img {
    display: block;
    margin: 0 auto;
}

.login-button:hover {
    transform: scale(1.5);
    cursor: pointer;
}
