{% extends "base.html" %}

{% block content %}
<div class="container">
    <br><br><br>
    {% include "partials/messages.html" %}
    <h1>Companies:</h1>
    <ul class="list-group">
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Google</li>
        
    </ul>
</div>


{% endblock content %}