{% extends "base.html" %} 
{% block content %}

{% load static %}


<div class="container mt-3">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "dashboard:MainDashboard" %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Details</li>
        </ol>
    </nav>

    
    <div class="card">
        <div class="card-body">
            <div class="button-container">
                <button class="btn btn-primary">First Semester</button>
                <button class="btn btn-primary">Second Semester</button>
                <button class="btn btn-primary">Third Semester</button>
                <button class="btn btn-primary">Fourth Semester</button>
                <button class="btn btn-primary">Fifth Semester</button>
                <button class="btn btn-primary">Six Semester</button>
                <button class="btn btn-primary">Seventh Semester</button>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Quiz 1</th>
                    <th>Quiz 2</th>
                    <th>Mid Semester</th>
                    <th>End Semester</th>
                </tr> 
            </thead>
    
            <tbody>
                <form action="{% url "add_details" %}" method="POST">
                    {% csrf_token %}
                    {% for subject in subjects %}
                    <tr>
                        <td><input type="number" name="" class="form-control" placeholder="Quiz 1"></td>
                        <td><input type="number" name="" class="form-control" placeholder="Quiz 2"></td>
                        <td><input type="number" name="" class="form-control" placeholder="Mid Semester"></td>
                        <td><input type="number" name="" class="form-control" placeholder="End Semester"></td>
                        <td><input class="btn btn-outline-secondary" type="submit" value="Save"/></td>
                    </tr> 
                
                    {% endfor %}
                </form>
                
            </tbody>
            
        </table>
    </div>


    
   

</div>

{% endblock content %}